{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @blog.logo}}
                    <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </h1>
            <h2 class="site-description">{{@blog.description}}</h2>
        </div>
        {{> "site-nav"}}
    </div>
</header>

{{!-- The main content area for PROJECTS --}}
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="post-feed">
          {{!-- You need to "include" so that the variables are passed to 'post-card' --}}
          {{#get "posts" filter="tags:[projects,Projects]" include="tags,author" limit="5"}}
              {{#foreach posts}}
                  {{> "post-card"}}
              {{/foreach}}
          {{/get}}
        </div>
    </div>
    <p id="more-block" class="more-block" style="vertical-align:middle">
      <a href="/tag/projects">VIEW OUR WORK</a>
    </p>
</main>

{{!-- A HR break with a title in the middle saying "BLOG" --}}
{{!-- You could also put this inside "site-main" with a negative padding so it moves relative to site-main --}}

{{!-- The main content area for BLOG --}}
<main id="site-main" class="site-main outer" role="main">
    <p id="title-block" class="title-block">
      <span>BLOG</span>
    </p>
    <div class="inner">
        <div class="post-feed">
          {{!-- You need to "include" so that the variables are passed to 'post-card' --}}
          {{#get "posts" filter="tags:[Blog,blog]" include="tags,author" limit="5"}}
              {{#foreach posts}}
                  {{> "post-card"}}
              {{/foreach}}
          {{/get}}
        </div>
    </div>
    <p id="more-block" class="more-block" style="vertical-align:middle">
      <a href="/tag/blog">READ OUR BLOG</a>
    </p>
    <p style="padding:20px"></p>
</main>
